In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('./Data/cleaned_cc_data.csv')
df.head()

cc_data_scaled = StandardScaler().fit_transform(df[["LIMIT_BAL", "PAY_0", "PAY_2", "PAY_3", "PAY_4", "PAY_5", "PAY_6", "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", "PAY_AMT2", "PAY_AMT3", "PAY_AMT4", "PAY_AMT5", "PAY_AMT6", "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6"]])
# Use original column names for the scaled data and concatenate with the columns left out from scaling
cc_data_scaled = pd.DataFrame(cc_data_scaled, columns=["LIMIT_BAL", "PAY_0", "PAY_2", "PAY_3", "PAY_4", "PAY_5", "PAY_6", "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", "PAY_AMT2", "PAY_AMT3", "PAY_AMT4", "PAY_AMT5", "PAY_AMT6", "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6"])
cc_data_scaled = pd.concat([cc_data_scaled, df[["LIMIT_BAL","SEX","EDUCATION","MARRIAGE","AGE","default.payment.next.month"]]], join='inner',  axis=1)
cc_data_scaled.head()

,LIMIT_BAL,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,default.payment.next.month
0,-1.135512,1.791873,1.776654,-0.697265,-0.666863,-1.527923,-1.486255,-0.641203,-0.646339,-0.667135,...,-0.667135,-0.671740,-0.662877,-0.652876,20000.0,2,2,1,24,1
1,-0.365937,-0.876018,1.776654,0.136226,0.186234,0.232334,1.985406,-0.657981,-0.665755,-0.638302,...,-0.638302,-0.620771,-0.605957,-0.598087,120000.0,2,2,2,26,1
2,-0.596810,0.013279,0.109462,0.136226,0.186234,0.232334,0.249576,-0.296016,-0.492299,-0.480945,...,-0.480945,-0.448499,-0.416610,-0.391631,90000.0,2,2,2,34,0
3,-0.904640,0.013279,0.109462,0.136226,0.186234,0.232334,0.249576,-0.054075,-0.009999,0.035991,...,0.035991,-0.230680,-0.185780,-0.156445,50000.0,2,2,1,37,0
4,-0.904640,-0.876018,0.109462,-0.697265,0.186234,0.232334,0.249576,-0.577089,-0.610131,-0.158677,...,-0.158677,-0.345548,-0.347449,-0.331449,50000.0,1,2,1,57,0

In [3]:
# Split the features and target using default.payment.next.month as the target
X = df.drop('default.payment.next.month', axis=1)
y = df['default.payment.next.month']
target_names = ['No Default', 'Default']

In [4]:
# Prepare the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [5]:
X_train

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
26071,120000.0,2,2,1,39,-2,-2,-2,-2,-2,...,2134.0,0.0,0.0,0.0,6192.0,2142.0,0.0,0.0,0.0,0.0
25102,50000.0,2,3,2,22,0,0,0,2,2,...,51922.0,51563.0,50677.0,48556.0,2000.0,5000.0,1200.0,0.0,1853.0,0.0
15791,100000.0,2,1,2,31,1,-2,-1,-1,0,...,740.0,1480.0,1480.0,740.0,0.0,2220.0,1480.0,740.0,0.0,2931.0
1910,470000.0,2,2,2,26,0,0,0,0,0,...,167876.0,170610.0,173643.0,178083.0,6200.0,7000.0,5716.0,5982.0,7000.0,5500.0
24014,10000.0,1,2,1,38,0,0,2,0,0,...,7803.0,8623.0,9527.0,9780.0,1500.0,0.0,1100.0,1000.0,504.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10955,220000.0,1,1,2,25,1,2,0,0,0,...,207870.0,172612.0,166705.0,166192.0,0.0,7109.0,6050.0,6000.0,9111.0,6171.0
17289,80000.0,2,2,2,29,0,0,0,0,0,...,26605.0,27920.0,28358.0,29000.0,1720.0,1500.0,1762.0,1200.0,1250.0,3200.0
5192,330000.0,2,2,2,28,0,0,0,0,0,...,254855.0,258220.0,256058.0,256840.0,9425.0,9000.0,9174.0,9590.0,9500.0,9400.0
12172,420000.0,1,1,1,32,0,0,0,0,0,...,24751.0,24984.0,24983.0,23751.0,1407.0,1332.0,963.0,877.0,1000.0,908.0
235,240000.0,2,3,1,50,0,0,0,0,0,...,214642.0,207642.0,210375.0,214694.0,10116.0,9150.0,8008.0,8000.0,8009.0,7714.0

In [8]:
# Import Gradient Boosting classifier .
from sklearn.ensemble import GradientBoostingClassifier

In [9]:
# Train the Gradient Boosting classifier
clf = GradientBoostingClassifier(random_state=1).fit(X_train, y_train)

# Evaluate the model
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.8238288288288288
Testing Score: 0.8262396973381976